body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.header-bg {
  background-image: url(../Assets/Hero-bg.png);
}
.title {
  color: #252432;
  font-weight: bold;
  font-size: 65px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  padding: 20px 150px;
}
.nav-title {
  font-size: 34px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #4e47ff;
}
/* .banner-content {
  justify-content: center;
  margin-top: 100px;
  padding: 50px;
} */

.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
  padding: 20px 0px;
}

/* shared style */
.btn {
  background-color: #4e47ff;
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}
.banner-btn {
  margin: 0 auto;
}

/* action styles */
.action {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin: 150px 159px;
}
.action-img {
  border-radius: 30px;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
}
.action-subtitle {
  color: #252432;
  font-size: 24px;
}

/* user section styles */
.user-section {
  background-color: #d2d2ef;
  border-radius: 20px;
  margin: 100px 159px;
  text-align: center;
}
.user-title {
  font-size: 38px;
  color: #252432;
  font-weight: bold;

  margin-left: 142px;
  margin-right: 142px;
}
.user-description {
  display: flex;
  justify-content: space-around;
}
.description-number {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}

/* get in touch section styles */
.contact-section {
  background-color: #f8f9fa;
  padding: 60px 20px;
}
.contact-container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  gap: 60px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.contact-title h2 {
  font-size: 90px;
  font-weight: bold;
  color: #222;
  margin-right: 10px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form label {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.contact-form input,
.contact-form textarea {
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
}

/* footer styles */
.foot {
  align-items: center;
  text-align: center;
  padding: 150px 455px;
}
.links {
  margin-top: 20px;
  justify-content: space-around;
  gap: 14px;
}

.footer-title {
  color: #4e47ff;
  font-size: 100px;
  font-weight: bold;
}
